.cd-dropdown,
.cd-select {
    position: relative;
    display: block;
    float: right;
    width: 180px;
    font-family: Moderno Rounded Regular;
}


.cd-dropdown > span {
    white-space: nowrap;
    width: 96%;
    left:2%;
    height: 40px;
    line-height: 40px;
    color: #999;
    font-weight: 700;
    font-size: 17px;
    background: rgb(40, 105, 126);
    background: rgba(40, 105, 126, 0.6);
    display: block;
    padding: 0 30px 0 10px;
    position: relative;
    cursor: pointer;
}
.cd-dropdown span:hover {
    -webkit-box-shadow: 1px 1px 3px #bbbbbb;
    -moz-box-shadow: 1px 1px 3px #bbbbbb;
    box-shadow: 1px 1px 3px #bbbbbb;
}

.cd-dropdown > span:after {
    content: '\25BC';
    position: absolute;
    right: 0;
    top: 15%;
    width: 50px;
    text-align: center;
    font-size: 15px;
    padding: 2px;
    height: 70%;
    line-height: 24px;
}

.cd-dropdown .cd-active > span:after {
    content: '\25B2';
}

.cd-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

.cd-dropdown ul li {
    display: block;
}

.cd-dropdown ul li span {
    white-space: nowrap;
    width: 85%;
    margin-left: 20px;
    background: rgb(40, 105, 126);
    background: rgba(40, 105, 126, 0.6);
    line-height: 40px;
    padding: 0 10px 0 10px;
    display: block;
    color: #bcbcbc;
    cursor: pointer;
    font-size: 15px;
}
.cd-dropdown > span,
.cd-dropdown ul li span {
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cd-dropdown ul li span:hover {
    -webkit-box-shadow: 0 0 10px #309b36;
    -moz-box-shadow: 0 0 10px #309b36;
    box-shadow: 0 0 10 #309b36;
}

/* Select fallback styling */
.cd-select {
    border: 1px solid #ddd;
}
